<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/common/commonLayout.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<p:panelGrid columns="1" style="width:100%;">

				<p:panel id="countryDetails"
					header="Country: #{mbDetailCRUD.selectedCountry.name}">
					Small details on Selected Country
				</p:panel>

				<p:panel id="cityDetails" header="Selected City">
					<p:panelGrid columns="2" style="width:100%;">
						<p:outputLabel value="ID" />
						<p:inputText value="#{mbDetailCRUD.selectedCity.id}"
							disabled="#{not mbDetailCRUD.addCity}" />
						<p:outputLabel value="Name" />
						<p:inputText value="#{mbDetailCRUD.selectedCity.name}" />
					</p:panelGrid>

					<f:facet name="actions">
						<p:commandLink action="#{mbDetailCRUD.goHome}"
							immediate="true" partialSubmit="false"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-home" />
						</p:commandLink>
						
						<p:commandLink action="#{mbDetailCRUD.saveCityAction}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-disk" />
						</p:commandLink>
						
						<p:commandLink action="#{mbDetailCRUD.saveCityActionAndAdd}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-seek-next" />
						</p:commandLink>
					</f:facet>
				</p:panel>

			</p:panelGrid>


		</h:form>

	</ui:define>
</ui:composition>
