<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/common/commonLayout.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<p:panelGrid columns="1">


				<p:panel header="Countries">
					<f:facet name="actions">

						<p:commandLink action="#{mbMasterDetail.newCountry}"
							process="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-plusthick" />
						</p:commandLink>

						<p:commandLink action="#{mbMasterDetail.updateCountry}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-pencil" />
						</p:commandLink>
						
						<p:commandLink actionListener="#{mbMasterDetail.deleteCountry}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-trash" />
						</p:commandLink>

					</f:facet>
					<p:dataTable id="eventsDT" var="country"
						value="#{mbMasterDetail.countries}" selectionMode="single"
						selection="#{mbMasterDetail.selectedCountry}"
						rowKey="#{country.id}">
						<p:ajax event="rowSelect"
							listener="#{mbMasterDetail.onCountryRowSelect}" update="@form" />
						<p:column headerText="Name">
							<h:outputText value="#{country.name}" />
						</p:column>
					</p:dataTable>
				</p:panel>

				<p:panel id="countryDetails"
					header="#{mbMasterDetail.selectedCountry.name}">

					<p:tabView>
						<p:tab title="Cities">
							<p:panel
								header="Citites in #{mbMasterDetail.selectedCountry.name}">
								<p:dataTable id="eventsDTCity" var="city"
									emptyMessage="No Country was selected."
									value="#{mbMasterDetail.selectedCountry.cities}"
									selectionMode="single"
									selection="#{mbMasterDetail.selectedCity}" rowKey="#{city.id}">
									<p:ajax event="rowSelect"
										listener="#{mbMasterDetail.onCityRowSelect}" update="@form" />
									<p:column headerText="Name">
										<h:outputText value="#{city.name}" />
									</p:column>
								</p:dataTable>

								<f:facet name="actions">
									<p:commandLink action="#{mbMasterDetail.createCityAction}"
										disabled="#{empty mbMasterDetail.selectedCountry.id}"
										update="@form"
										styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
										oncomplete="PF('dlgCity').show()">
										<h:outputText styleClass="ui-icon ui-icon-plusthick" />
									</p:commandLink>
									<p:commandLink action="#{mbMasterDetail.updateCityAction}"
										disabled="#{empty mbMasterDetail.selectedCountry.id}"
										update="@form"
										styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
										oncomplete="PF('dlgCity').show()">
										<h:outputText styleClass="ui-icon ui-icon-pencil" />

									</p:commandLink>
									<p:commandLink action="#{mbMasterDetail.deleteCityAction}"
										disabled="#{empty mbMasterDetail.selectedCountry.id}"
										update="@form"
										styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
										<h:outputText styleClass="ui-icon ui-icon-trash" />
									</p:commandLink>
								</f:facet>
							</p:panel>
						</p:tab>
					</p:tabView>
				</p:panel>
			</p:panelGrid>

			<p:dialog header="Edit City" widgetVar="dlgCity" closeOnEscape="true"
				modal="true">
				<p:panel id="cityDetails" header="Selected City">
					<p:panelGrid columns="2">
						<p:outputLabel value="ID" />
						<p:inputText value="#{mbMasterDetail.selectedCity.id}"
							disabled="#{not mbMasterDetail.addCity}" />
						<p:outputLabel value="Name" />
						<p:inputText value="#{mbMasterDetail.selectedCity.name}" />
					</p:panelGrid>

					<f:facet name="actions">
						<p:commandLink action="#{mbMasterDetail.deleteCityAction}"
							disabled="#{empty mbMasterDetail.selectedCountry.id}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-trash" />
						</p:commandLink>
						<p:commandLink actionListener="#{mbMasterDetail.saveCity}"
							disabled="#{empty mbMasterDetail.selectedCountry.id}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-disk" />
						</p:commandLink>
					</f:facet>
				</p:panel>
			</p:dialog>

		</h:form>

	</ui:define>
</ui:composition>
