<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/common/commonLayout.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<p:panelGrid columns="2" style="width:100%;">

				<p:dataTable id="eventsDT" var="country"
					value="#{mbMasterDetail.countries}" selectionMode="single"
					selection="#{mbMasterDetail.selectedCountry}"
					rowKey="#{country.id}">
					<f:facet name="header">Countries - Master</f:facet>
					<p:ajax event="rowSelect"
						listener="#{mbMasterDetail.onCountryRowSelect}" update="@form" />
					<p:ajax event="rowUnselect"
						listener="#{mbMasterDetail.onCountryRowUnselect}"
						update=":form:selectedCountry" />
					<p:column headerText="Name">
						<h:outputText value="#{country.name}" />
					</p:column>
				</p:dataTable>

				<p:panel header="Selected Country">
					<p:panelGrid columns="2">
						<p:outputLabel value="ID" />
						<p:inputText value="#{mbMasterDetail.selectedCountry.id}"
							disabled="#{not mbMasterDetail.addCountry}" />
						<p:outputLabel value="Name" />
						<p:inputText id="selectedCountry"
							value="#{mbMasterDetail.selectedCountry.name}" />
					</p:panelGrid>

					<f:facet name="actions">

						<p:commandLink actionListener="#{mbMasterDetail.createCountry}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-plusthick" />
						</p:commandLink>
						<p:commandLink actionListener="#{mbMasterDetail.deleteCountry}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-trash" />
						</p:commandLink>
						<p:commandLink actionListener="#{mbMasterDetail.saveCountry}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-disk" />
						</p:commandLink>
					</f:facet>
				</p:panel>

				<p:dataTable id="eventsDTCity" var="city"
					emptyMessage="No Country was selected."
					value="#{mbMasterDetail.selectedCountry.cities}"
					selectionMode="single" selection="#{mbMasterDetail.selectedCity}"
					rowKey="#{city.id}">
					<f:facet name="header">Cities in #{mbMasterDetail.selectedCountry.name}</f:facet>
					<p:ajax event="rowSelect"
						listener="#{mbMasterDetail.onCityRowSelect}" update="@form" />
					<p:column headerText="Name">
						<h:outputText value="#{city.name}" />
					</p:column>
				</p:dataTable>

				<p:panel header="Selected City">
					<p:panelGrid columns="2">
						<p:outputLabel value="ID" />
						<p:inputText value="#{mbMasterDetail.selectedCity.id}"
							disabled="#{not mbMasterDetail.addCity}" />
						<p:outputLabel value="Name" />
						<p:inputText value="#{mbMasterDetail.selectedCity.name}" />
					</p:panelGrid>

					<f:facet name="actions">

						<p:commandLink actionListener="#{mbMasterDetail.createCity}"
							disabled="#{empty mbMasterDetail.selectedCountry.id}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-plusthick" />
						</p:commandLink>
						<p:commandLink actionListener="#{mbMasterDetail.deleteCity}"
							disabled="#{empty mbMasterDetail.selectedCountry.id}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-trash" />
						</p:commandLink>
						<p:commandLink actionListener="#{mbMasterDetail.saveCity}"
							disabled="#{empty mbMasterDetail.selectedCountry.id}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-disk" />
						</p:commandLink>
					</f:facet>
				</p:panel>

			</p:panelGrid>

		</h:form>

	</ui:define>
</ui:composition>
