<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/common/commonLayout.xhtml">
	<ui:define name="content">
		<h:form id="form">
			<p:panelGrid columns="1">

				<p:panel id="countryDetails"
					header="#{mbMasterCRUD.selectedCountry.name}">
					<p:panelGrid columns="2">
						<p:outputLabel value="ID" />
						<p:inputText value="#{mbMasterCRUD.selectedCountry.id}"
							disabled="#{not mbMasterCRUD.addCountry}" />
						<p:outputLabel value="Name" />
						<p:inputText id="selectedCountry"
							value="#{mbMasterCRUD.selectedCountry.name}" />
					</p:panelGrid>

					<f:facet name="actions">

						<p:commandLink action="#{mbMasterCRUD.goHome}" update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-home" />
						</p:commandLink>

						<p:commandLink action="#{mbMasterCRUD.saveCountry}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-disk" />
						</p:commandLink>

						<p:commandLink actionListener="#{mbMasterCRUD.goHome}"
							update="@form"
							styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
							<h:outputText styleClass="ui-icon ui-icon-cancel" />
						</p:commandLink>
						
					</f:facet>


				</p:panel>
			</p:panelGrid>


		</h:form>

	</ui:define>
</ui:composition>
