<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>JSF 2.0 Weld Example</title>
</h:head>
<h:body>

	<h:form id="form">
		
		Testing:
			<h:outputText value="#{serviceBean.actionName}" />
			123
			
			 <ui:repeat value="#{testBean.items}" var="item">
			<div>
				<h:outputText value="#{item}" />
			</div>
		</ui:repeat>

		<br />
		<h:inputText value="#{testBean.item}" />

		<h:commandButton value="Add item" action="#{testBean.addItem}">
			<f:ajax execute="@form" render="@form" />
		</h:commandButton>

		<h:outputText value="#{testBean.serviceValue}" />

	</h:form>

</h:body>
</html>

