<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
</composite:interface>

<composite:implementation>
    <p:growl autoUpdate="true" showDetail="true" />
    <p:messages autoUpdate="true" showDetail="true" />

    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();" />
    <p:dialog modal="true" widgetVar="statusDialog" draggable="false" closable="false" showHeader="false" resizable="false">
        <center>
            <p:graphicImage value="../../resources/images/20-0.gif" />
            <br />
            <h:outputText value="جاري العمل على طلبك" />
        </center>
    </p:dialog>
    <p:tooltip />
</composite:implementation>
</html>
