<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="checked" required="true" />
    <composite:attribute name="closed" required="true" />
    <composite:attribute name="xml" required="true" />
    <composite:attribute name="modifyDate" required="true" />
    <composite:attribute name="modifyUser" required="true" />
</composite:interface>

<composite:implementation>

    <p:panelGrid style="width: 100%;">
        <p:row>
            <p:column>
                <p:spacer width="10px" />
                <p:selectBooleanCheckbox value="#{cc.attrs.checked}" itemLabel="#{msg.get('CHECKED')}" />
                <p:spacer width="10px" />
                <p:selectBooleanCheckbox value="#{cc.attrs.closed}" itemLabel="#{msg.get('CLOSED')}" />
                <p:spacer width="10px" />
                <p:selectBooleanCheckbox value="#{cc.attrs.xml}" itemLabel="#{msg.get('EXPORTED')}" />
            </p:column>

            <p:column>
                <p:panelGrid columns="7" style="float:left ;">
                    <h:outputLabel value="#{msg.get('MODIFY_DATE')}" />
                    <p:spacer width="5px" />
                    <h:outputText id="entryDate" value="#{cc.attrs.modifyDate}">
                        <f:convertDateTime pattern="yyyy/MM/dd" />
                    </h:outputText>
                    <p:spacer width="5px" />
                    <h:outputLabel value="#{msg.get('MODIFY_USER')}" />
                    <p:spacer width="5px" />
                    <h:outputText id="entryUser" value="#{cc.attrs.modifyUser}" />
                </p:panelGrid>
            </p:column>

        </p:row>
    </p:panelGrid>


</composite:implementation>
</html>
