<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>
    <composite:attribute name="firstAction" method-signature="void action(javax.faces.event.ActionEvent)" required="true"/>
    <composite:attribute name="nextAction" method-signature="void action(javax.faces.event.ActionEvent)" required="true"/>
    <composite:attribute name="previousAction" method-signature="void action(javax.faces.event.ActionEvent)" required="true"/>
    <composite:attribute name="lastAction" method-signature="void action(javax.faces.event.ActionEvent)" required="true"/>
    <composite:attribute name="disabled" required="true"/>
</composite:interface>

<composite:implementation>

    <p:commandButton actionListener="#{cc.attrs.firstAction}" process="@this" update="@form" icon="ui-icon-seek-end"
        pt:data-tooltip="#{msg.get('START')}" disabled="#{cc.attrs.disabled}" />
    <p:commandButton actionListener="#{cc.attrs.previousAction}" process="@this" update="@form" icon="ui-icon-seek-next"
        pt:data-tooltip="#{msg.get('PREVIOUS')}" disabled="#{cc.attrs.disabled}" />

    <h:outputText value="#{cc.attrs.index} / #{cc.attrs.count}" dir="rtl" />

    <p:commandButton actionListener="#{cc.attrs.nextAction}" process="@this" update="@form" icon="ui-icon-seek-prev"
        pt:data-tooltip="#{msg.get('NEXT')}" disabled="#{cc.attrs.disabled}" />
    <p:commandButton actionListener="#{cc.attrs.lastAction}" process="@this" update="@form" icon="ui-icon-seek-first"
        pt:data-tooltip="#{msg.get('LAST')}" disabled="#{cc.attrs.disabled}" />

</composite:implementation>
</html>
