<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:pe="http://primefaces.org/ui/extensions">

<composite:interface>
    <composite:attribute name="publishSource" required="true" />
    <composite:attribute name="pageNumber" required="true" />
    <composite:attribute name="publishNumber" required="true" />
    <composite:attribute name="publishYear" required="true" />
</composite:interface>

<composite:implementation>

    <p:panelGrid id="ggg" style="width: 100%;">
        <p:row>
            <p:column width="10%">
                <h:outputLabel value="#{msg.get('PUBLISHER')}" />
                <p:spacer width="10px" />
                <h:selectOneMenu id="mnSource" value="#{cc.attrs.publishSource}" converter="mbPublishSourceConverter" dir="rtl">
                    <f:ajax execute="ggg" render="ggg" />
                    <f:selectItems value="#{mbPublishSource.allPublishSource}" var="source" itemValue="#{source}" itemLabel="#{source.sourceName}" />
                </h:selectOneMenu>
            </p:column>
            <p:column id="sourcePanel" rendered="#{cc.attrs.publishSource.id eq 1}" width="90%">
                <h:outputLabel value="#{msg.get('PAGE')}" />
                <p:spacer width="10px" />
                <pe:inputNumber id="pageNo" value="#{cc.attrs.pageNumber}" dir="rtl" thousandSeparator="" decimalPlaces="0" style="width: 80px;" />
                <p:spacer width="10px" />
                <h:outputLabel value="#{msg.get('PUBLISH_NO')}" />
                <p:spacer width="10px" />
                <pe:inputNumber id="publishNumber" value="#{cc.attrs.publishNumber}" dir="rtl" thousandSeparator="" decimalPlaces="0"
                    style="width: 80px;" />
                <p:spacer width="10px" />
                <h:outputLabel value="#{msg.get('PUBLISH_YEAR')}" dir="rtl" />
                <p:spacer width="10px" />
                <p:calendar local="ar" id="publishYear" value="#{cc.attrs.publishYear}" pattern="yyyy/MM/dd" mindate="1/1/1900" navigator="true"
                    dir="rtl" />
            </p:column>

        </p:row>
    </p:panelGrid>

</composite:implementation>
</html>
