<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" dir="rtl">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<h:outputStylesheet library="css" name="primefaces.css" />

	</f:facet>
	<title><ui:insert name="title">Default title</ui:insert></title>
	<ui:debug hotkey="x" />
</h:head>

<h:body id="body" class="body">


	<div id="content1">
		<ui:insert name="content">content Goes Here</ui:insert>
	</div>

</h:body>
</html>